.contact-subtitle-js {
    color: #ffd801;
}

.contact-subtitle-react {
    color: #61dafb
}

.contact-subtitle-redux {
    color: #7f43c5
}

.contact-subtitle-ts {
    color: #007acc
}

.contact-name {
    margin-bottom: 5px;
}

.contact-mail {
    margin-bottom: 5px;

    a {
        color: #333333;
    }
}